.body {
  z-index: 10 !important;
}

.possitionOfNavbar {
  z-index: 20 !important;
}

.possitionOfSecondNavbar {
  z-index: 15 !important;
}

.dropdown-toggle::after {
  display: none !important;
}

.addMargins {
  margin: 10px;
}

a, button, input {
  transition: none !important;
}

.App {
  font-family: 'Work Sans', serif;
  text-align: center;
}

.logo {
  width: 300px;
}

.darkColorBackground {
  background-color: #23242c !important;
  border-color:  #23242c !important;

}

.lighterColorBackground {
  background-color: #383941 !important;
  border-color:  #383941 !important;

}

.mainColorBackground {
  background-color: #D9D9D9 !important;
  border-color:  #D9D9D9 !important;
}

.subColorBackground {
  background-color: #925762 !important;
  border-color:  #925762 !important;
}

.mainColorText {
  color: #D9D9D9 !important;
}

.subColorText {
  color: #925762 !important;
}

.blackText {
  color: #23242c !important;
}

.dropdown{
  overflow: visible !important;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.containerButtonText {
  display: inline;
  height: 20px;
}

.containerButtonText img{
  float: right;
}




